.vscode
*.pdf
build.ninja
CMakeCache.txt
CMakePresets.json
Drivers/
7-segment-display.ioc
cmake/
CMakeFiles/
compile_commands.json   
startup_stm32f401xe.s
.mxproject
build/
cmake_install.cmake
STM32F401RETx_FLASH.ld

./Core/Inc/stm32f4xx_hal_conf.h
./Core/Src/stm32f4xx_hal_msp.c
./Core/Src/system_stm32f4xx.c